* {
    margin: 0;
}

#word {
    padding: 10px;
    margin: 5px;
}

.btn {
    background-color: transparent;
    border-radius: 6px;
    padding: 3px 7px;
    
}

.btn:hover {
    transform: scale(1.02);
    transition: all 0.4s;
}